/* struttura standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
/* sezione modifiche header */
header ul li {
    margin-left: 1em;
    list-style-type: none;
    flex-basis: 20%;
    text-align: center;
}
a {
    color: white;
    padding: 2px;
}
ul img {
    flex-basis: 60%;
}
/* inizio modifiche main */
main {
    margin-top: 100px;
}
main ul li {
    list-style-type: none;
}
.flexcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.col-3 {
    flex-basis: calc(100% / 3 -1%);
}
section {
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 100px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
.etichette {
    bottom: 30px;
    left: 0;
}
#rossa {
    background-color: red;
    color: white;
}
#verde {
    background-color: green;
    color: white;
}
#heart {
    background-color: white;
    top: 5px;
    right: 0px;
}
.immagine1 {
    display: block;
}
.immagine2 {
    display: none;
}
.cambioimmagine {
}
.cambioimmagine:hover .immagine1 {
   display: none;
}
.cambioimmagine:hover .immagine2 {
   display: block;
}
#prezzo {
    color: red;
}
#prezzo2 {
    text-decoration: line-through;
}
/* inizio footer */
footer {
    background-color: rgb(34, 32, 32);
    min-height: 100px;
    color: white;
    display: flex;
    flex-basis: 48%;
}
.footerflex {
    flex-basis: 50%;
    justify-content: center;
}
footer ul li {
    list-style-type: none;
}